.patientInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 30%;
}

label {
  margin: 10px 0;
}

input {
  margin-left: 10px;
}

button {
  width: 20%;
}
